//- pug mixins 文字列で読み込まれてルートで処理することもあるのでよろしくおねがいします

mixin fa( $icon, $prefix, $option )
  -
    const style = $prefix || "fas"
    const option = $option || {}
    const query = { prefix: style, iconName: $icon }
    let fahtml = ''
    const insertlater = falibs.icons.find((el) => el.prefix == style && el.iconName == $icon)
  if(insertlater && !isAmp)
    i(class=`fa ${style} ${$icon}` data-fa-prefix=style data-fa-icon-name=$icon data-fa-option=(JSON.stringify(option).replace(/\"/g,"'")))
  else
    -
      try {
        fahtml = fontawesome.icon(query, option).html[0]
      } catch(e2) {
        console.log(`Can't pick up icon: ${$icon}, ${style}`) 
      }
    !=fahtml

mixin fa_fw( $icon, $prefix )
  +fa( $icon, $prefix, {classes: ['fa-fw']})

mixin toc(headings, n, tag, cl)
  -
    function lv(a, b, ht){
      let r = a - b
      let ans = ''
      for(let j=0; r > j; j++){
        ans += ht
      }
      return ans
    }
    let o = `<${tag} class="${cl} m-0 p-0">`
    for(let i = 0; headings.length > i; i++){
      let now = headings[i], prev
      if (now.number < n) continue

      if (i == 0) prev = {number: n}
      else prev = headings[i - 1]

      if ( i == 0 || now.number > prev.number ) {
        o += lv(now.number, prev.number, `<li><${tag} class="${cl}">`)
      } else if ( now.number < prev.number ) {
        o += lv(prev.number, now.number, `</${tag}></li>`)
      }
      o += `<li><a href="#${now.id}">${now.text}</a></li>`
    }
    o += `</${tag}>`
  != o

mixin lis_of_dir(pathf, $option)
  -
    function pathME(e, pathf){
      if (!(e.meta.permalink.startsWith(pathf) && !e.meta.isMetaPage)) return false
      
      const a = e.meta.permalink.split('/').length
      const b = pathf.split('/').length
      if ($option.self) {
        return a == b || a == b + 1
      } else {
        return a == b + 1
      }
    }
    function pathMFilter(pathf){
      return pages.filter(function(e,i,a){
        if (typeof pathf === "string") {
          return pathME(e, pathf)
        } else if (typeof pathf === "object" && Array.isArray(pathf) ){
          for (const c of pathf) {
            if (pathME(e, c)) return true
          }
        }
      })
    }
    let bpages = pathMFilter(pathf)
    bpages.sort( (a, b) => { return ( a.meta.permalink > b.meta.permalink ) ? 1 : -1 } )
    bpages.sort( (a, b) => a.attributes.rank - b.attributes.rank )
  +lis_of_pages(bpages, $option)

mixin lis_of_pages(bpages, $option)
  each rpage in bpages
    li.maqz-lop-i
      a.d-flex(
        href=`${site.url.path}${rpage.meta.permalink}`,
        class=([
          (rpage.meta.permalink == page.meta.permalink ? 'font-weight-bold' : ''),
          ...($option.classes || [])
        ].join(' '))
      )
        if($option.icon)
          .maqz-lop-left
            maqz-icon
              +fa_fw(typeof $option.icon == 'string' ? $option.icon : 'angle-right')
        .maqz-lop-right
          div=rpage.attributes.title
          if($option.description)
            div.small.lh-12=rpage.attributes.description
          if($option.date || $option.time)
            div.small.lh-12
              +fa_fw("clock")
              | #{moment(rpage.meta.mtime).format($option.dateFotrmat || 'll')}
      if($option.s == true && rpage.attributes.has_child == true)
        ul.mt-1(clas=`${$option.unstyled ? 'list-unstyled' : ''}`)
          +lis_of_dir(rpage.meta.permalink, {unstyled: $option.unstyled, self: $option.self, s: true, description: $option.description})

mixin embed_video(url)
  .embed-responsive.embed-responsive-16by9.video-embed
    iframe(src=url,allowfullscreen="allowfullscreen",frameborder="0",gesture="media",allow="encrypted-media").embed-responsive-item
mixin embed_nicovideo(vid)
  +embed_video(`https://embed.nicovideo.jp/watch/${vid}`)
mixin embed_youtube(vid)
  +embed_video(`https://www.youtube.com/embed/${vid}?controls=2&modestbranding=1&rel=0`)
mixin embed_youtube_autoplay(vid)
  +embed_video(`https://www.youtube.com/embed/${vid}?autoplay=1&controls=2&modestbranding=1&rel=0`)

//- https://developers.google.com/youtube/player_parameters?hl=ja

mixin blog_badges(targetpage)
  .mr-2
    +fa_fw("folder-open")
    if(targetpage.attributes.categories)
      each category in targetpage.attributes.categories
        span.badge.badge-success.md-small= category
        |  
    else
      | なし
  //- .mr-2
    +fa_fw("tags")
    if(targetpage.attributes.tags)
      each tag in targetpage.attributes.tags
        span.badge.badge-secondary.md-small= tag
        |  
    else
      | なし
mixin blog_author(targetpage, link)
  if(targetpage.attributes.author)
    .mr-2
      +fa_fw("user")
      - const aid = targetpage.attributes.author.authorId || targetpage.attributes.author.memberId
      if(aid)
        - const autho = pages.find(e => (e.meta.permalink == `/members/${aid}/`))
        if(autho)
          if(link)
            a(href=`${autho.meta.permalink}`).text-dark
              | #{autho.attributes.title}
          else
            | #{autho.attributes.title}
        else
          | #{targetpage.attributes.author.authorId}
      else if(targetpage.attributes.author.authorName)
        | #{targetpage.attributes.author.authorName}
      else
        | 著者不詳

mixin hssLogo($cl)
  svg(class=`svg-inline--fa ${$cl}` xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.19 26.364")
    path(fill="currentColor" d="M.12 15.491a.926.926 0 0 0 .648.887l2.371.784-2.498 1.497a.926.926 0 0 0-.46.851.926.926 0 0 0 1.412.738l2.496-1.496-.437 2.467a.926.926 0 0 0-.016.184.926.926 0 0 0 1.84.139l.716-4.05.985-.59.981.547-.944 1.694a.926.926 0 0 0-.125.44.926.926 0 0 0 1.742.462l.944-1.695.98.547.018 1.161-3.06 2.738a.926.926 0 0 0-.317.741.926.926 0 0 0 1.553.64l1.86-1.664.043 2.913a.926.926 0 1 0 1.851-.028l-.043-2.913 1.909 1.608a.926.926 0 1 0 1.192-1.416l-3.137-2.646-.017-1.16.962-.576.994 1.665a.927.927 0 1 0 1.591-.95l-.994-1.664.965-.577 1 .56.836 4.028a.926.926 0 1 0 1.813-.376l-.51-2.454 2.54 1.422a.926.926 0 1 0 .906-1.615l-2.543-1.424 2.347-.853a.926.926 0 1 0-.633-1.74l-3.847 1.398-1.005-.563-.016-1.123L18.946 14a.927.927 0 0 0-.027-1.853l-1.934.028-.016-1.123.986-.592 3.888 1.284a.926.926 0 1 0 .58-1.759l-2.37-.783 2.5-1.498a.926.926 0 1 0-.954-1.588l-2.496 1.497.437-2.468a.926.926 0 1 0-1.824-.323L17 8.873l-.984.59-.98-.548.944-1.694a.927.927 0 1 0-1.619-.902l-.943 1.693-.98-.546-.017-1.16 3.058-2.738a.926.926 0 1 0-1.234-1.38l-1.86 1.664-.043-2.914a.926.926 0 1 0-1.851.027l.043 2.915-1.909-1.61a.926.926 0 0 0-1.533.715.926.926 0 0 0 .339.702l3.139 2.646.017 1.16-.964.576-.994-1.666a.926.926 0 0 0-1.728.448.926.926 0 0 0 .139.502l.994 1.666-.965.576-1.002-.561-.835-4.027a.926.926 0 0 0-1.835.22.926.926 0 0 0 .021.156l.51 2.453-2.54-1.421A.926.926 0 0 0 0 7.22a.926.926 0 0 0 .484.809l2.54 1.423-2.346.854a.926.926 0 0 0-.619.935.926.926 0 0 0 1.253.806l3.847-1.399 1.006.564.017 1.122-1.936.029a.926.926 0 0 0-.923.955.926.926 0 0 0 .95.898l1.936-.029.017 1.123-.99.593L1.35 14.62a.926.926 0 0 0-1.23.872zm7.957-.207l-.016-1.123 1.946-.029-.948 1.7zm-.044-2.976l-.016-1.123.965-.577.998 1.67zm2.643 4.425l.947-1.7.997 1.672-.962.575zM10.57 9.66l.966-.576.979.546-.948 1.7zm2.642 4.425l1.946-.029.017 1.123-.965.576zm-.028-1.854l.948-1.699.982.548.017 1.123z")