extends ./default.pug

append preset
  include ../includes/_activity_preset

append meta
  include ../includes/_activity_schema

append article_header
  div.d-flex.flex-wrap.small
    div.mr-2
      +fa_fw("clock")
      time(datetime=page.meta.mtime)=moment(page.meta.mtime).format('lll')
    +blog_author(page, true)
    +blog_badges(page, true)

block article_footer
  footer.w-100
    a(href="/activities/").btn.btn-link.btn-block
      +fa_fw('angle-double-left')
      | Activity一覧へ
    .d-flex.flex-wrap.my-2.bg-light
      if(pagePrev)
        a(href=`${site.url.path}${pagePrev.meta.permalink}`)#prev.p-3.flex-fill
          .container
            +fa_fw('chevron-circle-left')
            | 前: #{pagePrev.attributes.title}
      if(pageNext) 
        a(href=`${site.url.path}${pageNext.meta.permalink}`)#next.p-3.flex-fill
          .container
            +fa_fw('chevron-circle-right')
            | 次: #{pageNext.attributes.title}
